<form class="short-form" id="signInForm" action='/auth/signin' method="POST">
<h3 class="warning">{{msg}}</h3>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Ваш email</label>
        <input name="email" type="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input name="password" minlength="1" required type="password" class="form-control" id="exampleInputPassword1">

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
