<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid"> 
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

         {{#if email}}
          <li class="nav-item">
            <a class="nav-link" href="/auth/signout">Выйти</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Создать</a>
          </li>



         {{else}}

          <li class="nav-item">
            <a class="nav-link" href="/auth/signin">Войти</a>
          </li>
          </li>
         <li class="nav-item">
          <a class="nav-link" href="/auth/signup">Зарегистрироваться</a>
         </li>
         {{/if}}

         </li>
        </li>
      </ul>
    </div>
  </div>
</nav>
